<h2>プロフィール</h2>
<div>
  <% if @user.id == current_user.id %>
  <% else %>
    <% if @status == true %>
      <%= link_to 'フォロー中', user_relationship_path(:user_id => @user.id), method: :delete, class: "btn btn-primary" %>
    <% else %>
      <%= link_to 'フォローする', user_relationships_path(:user_id => @user.id), method: :post, class: "btn btn-primary" %>
    <% end %>
  <% end %>
</div>

<br />
<%= render 'profile' %>

<ul class="list-group">
  <li class="list-group-item">
  <span class="badge"><%= @follower_amount %></span>
  <%= link_to 'follow', follow_user_path(id: @user.id) %>
  </li>
  <li class="list-group-item">
  <span class="badge"><%= @followed_amount %></span>
  <%= link_to 'follower', follower_user_path(id: @user.id) %>
  </li>
</ul>
    </div>

    <div class="col-sm-6">
      <h3>最近のプレイリスト</h3>

      <table class="table table-striped table-hover ">
        <thead>
          <tr>
            <th>プレイリスト名</th>
            <th>お気に入り数</th>
            <th>更新日時</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <% @playlists.each do |playlist| %>
              <td>
              <%= link_to playlist.title, playlist_path(playlist.id) %>
              </td>
              <td>
                <%= playlist.favorites.count %>
                </td>
            <td>
              <% update_time = playlist.updated_at %>
              <%= update_time.strftime("%Y-%m-%d %H:%M:%S") %>
              </td>
          </tr>
            <% end %>
          </tbody>
          </table>
          </div>
          </div>
          </div>
