<%= form_for @music, url: {controller: :playlists, action: :music_create} do |f| %>

    <p>Title & Artist can be blank!</p>

  <div>
    <%= f.hidden_field :playlist_id, value: @playlist.id %>
  </div>

  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :artist %>
    <%= f.text_field :artist %>
  </div>

  <div>
    <%= f.label "Youtube URL" %>
    <%= f.text_field :url %>
  </div>

  <div>
    <%= f.submit "追加" %>
  </div>

<% end %>


