<h2>ジャンル別</h2>

<h3>
<%= link_to 'Pops', each_genre_playlists_path(:id => 0) %>
</h3>

<h3>
<%= link_to 'Rock', each_genre_playlists_path(:id => 1) %>
</h3>

<h3>
<%= link_to 'Jazz', each_genre_playlists_path(:id => 2) %>
</h3>

<h3>
<%= link_to 'Classic', each_genre_playlists_path(:id => 3) %>
</h3>

<h3>
<%= link_to 'Others', each_genre_playlists_path(:id => 4) %>
</h3>

