<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2">
      <div class="btn-group-vertical">
        <h4>ランキング</h4>
        <a>
          <%= link_to '総合ランキング', ranking_playlists_path, class: "btn btn-default" %>
        </a>
        <h5>Date</h5>
        <a>
          <%= link_to '本日のランキング', ranking_playlists_path(date: "today"), class: "btn btn-default"  %>
        </a>
        <a>
          <%= link_to '週間ランキング', ranking_playlists_path(date: "week"), class: "btn btn-default"  %>
        </a>
        <a>
          <%= link_to '月間ランキング', ranking_playlists_path(date: "month"), class: "btn btn-default"  %>
        </a>
        <h5>Genre</h5>
        <a>
          <%= link_to 'Pops Top10', ranking_playlists_path(genre: "pops"), class: "btn btn-default"  %>
        </a>
        <a>
          <%= link_to 'Rock Top10', ranking_playlists_path(genre: "rock"), class: "btn btn-default"  %>
        </a>
        <a>
          <%= link_to 'Jazz Top10', ranking_playlists_path(genre: "jazz"), class: "btn btn-default"  %>
        </a>
        <a>
          <%= link_to 'Classic Top10', ranking_playlists_path(genre: "classic"), class: "btn btn-default"  %>
        </a>
        <a>
          <%= link_to 'Others Top10', ranking_playlists_path(genre: "others"), class: "btn btn-default"  %>
        </a>
      </div>
    </div>

    <h2><%= @title%></h2>
    <div class="col-sm-10">
      <table class="table table-striped table-hover ">
        <thead>
          <tr>
            <th>ランキング</th>
            <th>ユーザー名</th>
            <th>プレイリスト名</th>
            <th>お気に入り数</th>
            <th>更新日時</th>
          </tr>
        </thead>
        <% i = 0 %>
        <% @playlists.each do |playlist| %>
          <tbody>
            <tr>
              <td>
                <%= num = i + 1 %>位
                </td>
              <td>
                <%= link_to @user_name_array[i], user_path(id: @playlist_user_ids[i]) %>
                </td>
              <% i += 1 %>
              <td>
                <%= link_to playlist.title, playlist_path(id: playlist.id) %>
                </td>
              <td>
                <%= playlist.favorites.count %>
                </td>
              <td>
              <% update_time = playlist.updated_at %>
              <%= update_time.strftime("%Y-%m-%d %H:%M:%S") %>
                </td>
            </tr>
          </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>
