<h2 id="title" value="<%= @playlist.id%>">Title : <%= @playlist.title %></h2>

<%= render 'admin_check' %>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-5">
      <div id="user">
        <% if @user.id == current_user.id %>
        <% else %>
          <% if @status == true %>
            <%= link_to 'フォロー中', user_relationship_path(:user_id => @user.id), method: :delete, class: "btn btn-primary" %>
          <% else %>
            <%= link_to 'フォローする', user_relationships_path(:user_id => @user.id), method: :post, class: "btn btn-primary" %>
          <% end %>
        <% end %>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">Making User</div>
        <div class="panel-body">
          <%= link_to @user.name, user_path(:id => @user.id), id: :user %>
        </div>

        <div class="panel-heading">Genre</div>
        <div class="panel-body">
          <%= @playlist.genre %>
        </div>

        <div class="panel-heading">Comment from Making User</div>
        <div class="panel-body">
          <%= @playlist.comment %>
        </div>
      </div>

      <div id="new_comment">
        <%= render 'comment' %>
      </div>
      <br />

      <div id="comments">
        <%= render template: 'comments/index'%>
      </div>

    </div>

    <div class="col-sm-7">

      <% if @http.nil? %>
        <h4>プレイリストに曲が登録されていません。</h4>
      <% else %>
        <h4>プレイリストの曲詳細</h4>
        <table class="table table-striped table-hover ">
          <thead>
            <tr>
              <th>曲順</th>
              <th>タイトル</th>
            </tr>
          </thead>
          <% i = 0 %>
          <% @musics.each do |music| %>
            <tbody>
              <tr>
                <td>
                  <%= i += 1 %>曲目
                </td>
                <td>
                  <%= music.title %>
                </td>
              </tr>
            </tbody>
          <% end %>
        </table>
        <iframe width="560" height="315" src=<%= @http %> frameborder="0" allowfullscreen>  
        </iframe>
      <% end %>

      <div>
        <% if current_user.id == @playlist.user_id %>
          <%= link_to '登録曲編集', new_playlist_music_path(playlist_id: @playlist.id), class: "btn btn-default" %>
          <%= link_to 'プレイリスト編集', edit_playlist_path(id: @playlist.id), class: "btn btn-default" %>
          <%= link_to "削除", playlist_path(id: @playlist.id), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger" %>
        <% else %>
        <% end %>
      </div>

      <div>
        <%= render 'favorite' %>
      </div>

    </div>
  </div>
</div>
